%tr
  %td= adoption.raffle_number
  %td= adoption.duck_count
  %td= number_to_currency adoption.fee
  %td
    = link_to 'Edit', edit_sales_adoption_url(adoption)
    |
    = link_to 'Delete', sales_adoption_url(adoption), :method => :delete