- if parent?
  - arr = [:sales_sales_event, @adoption]
- else
  - arr = [:sales, @adoption]

= simple_form_for arr do |f|
  = render "shared/error_messages", :target => @adoption
  = render 'shared/title_slim', :text => 'Personal Information', :number => 1
  - @adoption.adopter_info ||= ContactInfo.new
  .sales-adoption-form
    = f.simple_fields_for :adopter_info do |adopter_form|
      .left
        = adopter_form.input :full_name, :input_html => {:tabindex => 1}, :required => false
        %br/
        = adopter_form.input :phone, :input_html => {:tabindex => 3}
        %br/
        = adopter_form.input :email, :input_html => {:tabindex => 5}
      .right
        = adopter_form.input :address, :input_html => {:tabindex => 2}
        %br/
        = adopter_form.input :city, :input_html => {:tabindex => 3}
        %br/
        .left
          = adopter_form.input :state, :collection => Carmen::state_codes('US'), :selected => "TX",
                                       :input_html => { :style => "width: 70px;", :tabindex => 6 }
        .left(style="padding-left: 10px;")
          = adopter_form.input :zip, :input_html => { :style => "width: 70px;", :tabindex => 7 }
        %br/
    .break &nbsp;
  = render 'shared/title_slim', :text => 'Adoption Info', :number => 2

  .sales-adoption-form-ducks
    .left(style="padding: 0;")
      = f.input :number, :label => "Adoption Number", :input_html => {:tabindex => 9}, :required => false
    - if @club_members.count > 0
      .left
        = f.association :club_member, collection: @club_members, label: "Affiliate Member (to credit adoption to):", input_html: {style: "width: 300px;"}
    .clear
    .left(style="padding: 0;")
      = f.input :dollar_fee, :label => "Fee (in dollars)", :input_html => {:tabindex => 10}
    .left
      %label{ :class => "string optional", :for => "ducks_adopted"} Ducks Adopted
      = text_field_tag 'ducks_adopted', 0 , :id => 'ducks_adopted', :disabled => true, :value => @adoption.duck_count
      = f.hidden_field :duck_count, :value => @adoption.duck_count
    .left
      %label{ :class => "string optional", :for => "amount_for_adoption"} Amount for Adoption
      = text_field_tag 'amount_for_adoption', 0 , :id => 'amount_for_adoption', :disabled => true
    .left
      %label{ :class => "string optional", :for => "cash_donation"} Cash Donation
      = text_field_tag 'cash_donation', 0 , :id => 'cash_donation', :disabled => true
    .break &nbsp;
  #submit-sales(style="margin:auto; width: 247px;")
    = f.submit "Submit", :class => "submit-duck-button blue-button", :tabindex => 11