
= simple_form_for [:sales, @adoption] do |f|
  = render "shared/error_messages", :target => @adoption
  = render 'shared/title_slim', :text => 'Personal Information', :number => 1
  - @adoption.adopter_info ||= ContactInfo.new
  .sales-adoption-form
    = f.simple_fields_for :adopter_info do |adopter_form|
      .left
        = adopter_form.input :full_name
        %br/
        = adopter_form.input :phone
        %br/
        = adopter_form.input :email
      .right
        = adopter_form.input :address
        %br/
        = adopter_form.input :city
        %br/
        .left
          = adopter_form.input :state, :collection => Carmen::state_codes('US'),
                                       :input_html => { :style => "width: 70px;" }
        .left(style="padding-left: 10px;")
          = adopter_form.input :zip, :input_html => { :style => "width: 70px;" }
        %br/
    .break &nbsp;
  = render 'shared/title_slim', :text => 'Adoption Info', :number => 2

  .sales-adoption-form-ducks
    .left(style="padding: 0;")
      = f.input :duck_count, :label => "Number of Ducks Adopted", :value => @adoption.duck_count
    .left= f.input :raffle_number, :label => "Adoption Number"
    .left= f.input :dollar_fee, :label => "Fee (in dollars)"
    .break &nbsp;
  #submit-sales(style="margin:auto; width: 247px;")
    = f.submit "Submit", :class => "submit-duck-button blue-button"
