%h1 All your adoptions.
- if @adoptions.to_a.count > 0
  = render '/adoptions/table', :adoptions => @adoptions
  %br/
  
  #total-adopted
    %h2 Total ducks adopted: #{current_user.duck_count}
    %br/
    %h2 Total donations raised: #{number_to_currency dollar_fee(current_user.fee)}

- else
  %h2 You don't have any adoptions.
  %h3= link_to 'Create a sales event', new_sales_sales_event_url

%br/

- content_for :navlinks do
  .navlink= link_to "Sales Dashboard", sales_root_path

