%h1 Admin Dashboard
= link_to 'View all adoptions', admin_adoptions_url
%br/
%br/
= link_to 'Set pricing rules', admin_pricings_url
%br/
%br/
= link_to 'View all users', admin_users_url
%br/
%br/
#{ link_to 'View all locations', admin_locations_url } | #{ link_to 'View all organizations', admin_organizations_url }
%br/
%br/
= link_to 'Edit Site Settings', edit_admin_settings_url
%br/
%br/

- content_for :navlinks do
  .navlink= link_to "Home", root_url

