<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css" media="screen">
        .raffle-number {
            /*height: 100px;
            line-height: 100px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            color: white;
            text-align: center;
            background-color: #7fbedc;
            font-size: 50px;
            font-family: Myriad Pro, Arial, Helvetica, sans-serif;
            margin-top: 20px;
            margin-bottom: 20px;*/
            color: red;
        }
    </style>
  </head>
  <body>
    <p>
      <% if @payment.payer_info.full_name.blank? %>
        <%= @payment.payer_info.full_name
      <% else %>

      <% endif %>
    </p>
    <p>
      You have successfully paid for <%= @adoption.duck_count %> ducks.
    </p>
    <div class="raffle-number" style="font-family: Myriad Pro, Arial, Helvetica, sans-serif;
                                      font-size: 50px; background-color: #7fbedc; color: white; text-align: center;
                                      line-height: 100px; height: 100px; margin-top: 20px; margin-bottom: 20px;">
      <%= @adoption.adoption_number %>
    </div>
    <p>Thanks for adopting and have a great day!</p>
    email: <%= @payment.payer_info.email %><br/>
    phone: <%= @payment.payer_info.phone %> <br/>
    street: <%= @payment.payer_info.address %> <br/>
    city: <%= @payment.payer_info.city %> <br/>
    state: <%= @payment.payer_info.state %> <br/>
    zip: <%= @payment.payer_info.zip %> <br/>
  </body>
</html>