<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      You have successfully paid for <%= @adoption.duck_count %> ducks.
    </p>
    <p>Thanks for adopting and have a great day!</p>
    email: <%= @payment.payer_info.email %><br/>
    phone: <%= @payment.payer_info.phone %> <br/>
    street: <%= @payment.payer_info.address %> <br/>
    city: <%= @payment.payer_info.city %> <br/>
    state: <%= @payment.payer_info.state %> <br/>
    zip: <%= @payment.payer_info.zip %> <br/>
  </body>
</html>