%h2 Orphan Payments
%table
  %tr
    %th Invoice ID
    %th Email
    %th Amount
    %th Created At
    %th Actions
  - @orphans.each do |orphan|
    %tr
      %td= null_literal(orphan.invoice)
      %td= null_literal(orphan.payer_info.email)
      %td= null_literal(orphan.params['payment_gross'])
      %td= orphan.created_at.to_s.to_date
      %td #{ link_to 'details', admin_payment_notification_url(orphan)} | #{ link_to 'delete', admin_payment_notification_url(orphan), :method => :delete}

%h2 Unauthorized IPN's
%table
  %tr
    %th Invoice ID
    %th Email
    %th Amount
    %th Created At
    %th Actions
  - @unauthorized.each do |unauthorized|
    %tr
      %td= null_literal(unauthorized.invoice)
      %td= null_literal(unauthorized.payer_info.email)
      %td= null_literal(unauthorized.params['payment_gross'])
      %td= unauthorized.created_at.to_s.to_date
      %td #{ link_to 'details', admin_payment_notification_url(unauthorized)} | #{ link_to 'delete', admin_payment_notification_url(unauthorized), :method => :delete}