%table
  %tr
    %th Raffle Number
    %th Duck Count
    %th Fee
  - collection.each do |adoption|
    %tr
      %td= adoption.raffle_number
      %td= adoption.duck_count
      %td= number_to_currency adoption.fee

%h2 Total ducks adopted: #{total_duck_count}
%br/
%h2 Total donations raised: #{number_to_currency total_fee}