%h1 Pricing rules
%table
  %tr
    %th When more than
    %th Price
    %th
  - @pricings.each do |pricing|
    %tr
      %td        
        = pluralize(pricing.quantity,"duck")
      %td
        = pricing.price
        cents
      %td
        = link_to 'edit', edit_admin_pricing_path(pricing)
        |
        = link_to 'delete', admin_pricing_path(pricing), :method => :delete

= render 'form', :target => Pricing.new

- content_for :navlinks do
  .navlink= link_to "Admin Dashboard", admin_root_path