%h1 Add a new price
.price-form
  = simple_form_for [:admin, @pricing] do |f|
    .left= f.input :price, :label => false
    .left(style="padding: 10px;") cents when more than or equal to
    .left= f.input :quantity, :label => false
    .left(style="padding: 10px;") ducks
    .clear &nbsp;
    = f.submit

%br/
%br/
= link_to "Back to All Pricings", admin_pricings_path
|
= link_to "Admin Dashboard", admin_root_path    