- unless adoption.adopter_info.nil?
  = image_tag "contactinfo.gif", :id =>"contact-info"
  = image_tag "contactinfosmall.gif", :id =>"contact-info-small"
  #adoption-contact-info
    
    - adoption.adopter_info.tap do |info|
      .left(style="width: 50%;")
        = contact_info_item info, :full_name
        = contact_info_item info, :email
        = contact_info_item info, :phone

      .left(style="width: 50%")
        = contact_info_item info, :address
        = contact_info_item info, :city

        .left(style="margin-right: 10px;")
          = contact_info_item info, :state
        .left
          = contact_info_item info, :zip

    .clear
    - include_race_info = true if include_race_info.nil?
    - if include_race_info
      #raceinfo
        %p
          The race will take place on July 4, 2011 at Bright Lake behind the Dell Diamond, Round Rock, TX.
          %br/
          For any questions, feel free to email duckrace@rrsertoma.org.

      #adoption-thanks
        %div(style="margin: auto; width: 295px;")
          = image_tag "thanksforadopting.gif"