.footer
  #insert
    #ground &nbsp;
    
  #sponsors
    .tier3
      = link_to 'http://www.limetexas.org/', :target => "_blank" do
        = image_tag "tier3/austinwhitelime.jpg"

      = link_to 'http://floorcenterstx.com/', :target => "_blank" do
        = image_tag "tier3/floorcenters.jpg"

      = link_to 'http://www.ikea.com/', :target => "_blank" do
        = image_tag "tier3/ikea.gif"

      = link_to 'http://www.carinos.com/', :target => "_blank" do
        = image_tag "tier3/carinos.png"

      = link_to 'http://www.cort.com/', :target => "_blank" do
        = image_tag "tier3/cort.png"

      = link_to 'https://www.wellsfargo.com/', :target => "_blank" do
        = image_tag "tier3/wellsfargo.jpg"

    #c501
      501c 63-0655922 Group Exemption #5409
/  #sponsors
/    .sponsors-table
/      = image_tag "oursponsors.png", :alt => "Our Sponsors"
/      .sponsors-table-content
/        = image_tag "etherpros.png", :id => "etherpros-logo", :alt => "Etherpros"
/        = image_tag "heblogo.png", :id => "heb-logo", :alt => "HEB"
/        .clear &nbsp;

