.footer
  #insert
    #ground &nbsp;
  #sponsors
    .tier3
      = image_tag "tier3/ikea.gif"
      = image_tag "tier3/carinos.png"
      = image_tag "tier3/cort.png"
      = image_tag "tier3/coolriverlogo.gif"
      = image_tag "tier3/floorcenters.jpg"
      = image_tag "tier3/austinwhitelime.jpg"
      = image_tag "tier3/mikeparker.gif"
      = image_tag "tier3/wellsfargo.jpg"
/  #sponsors
/    .sponsors-table
/      = image_tag "oursponsors.png", :alt => "Our Sponsors"
/      .sponsors-table-content
/        = image_tag "etherpros.png", :id => "etherpros-logo", :alt => "Etherpros"
/        = image_tag "heblogo.png", :id => "heb-logo", :alt => "HEB"
/        .clear &nbsp;

