.footer
  #insert
    #ground &nbsp;
  #sponsors
    .tier3
      = link_to 'http://www.ikea.com/' do
        = image_tag "tier3/ikea.gif"

      = link_to 'http://www.carinos.com/' do
        = image_tag "tier3/carinos.png"

      = link_to 'http://www.cort.com/' do
        = image_tag "tier3/cort.png"
      = link_to 'http://www.coolrivercafe.com/' do
        = image_tag "tier3/coolriverlogo.gif"

      = link_to 'http://floorcenterstx.com/' do
        = image_tag "tier3/floorcenters.jpg"

      = link_to 'http://www.limetexas.org/' do
        = image_tag "tier3/austinwhitelime.jpg"

      = link_to 'http://mikeparkerrealestate.com/' do
        = image_tag "tier3/mikeparker.gif"

      = link_to 'https://www.wellsfargo.com/' do
        = image_tag "tier3/wellsfargo.jpg"

      = link_to 'http://www.homedepot.com/' do
        = image_tag "tier3/homedepot.jpg"
/  #sponsors
/    .sponsors-table
/      = image_tag "oursponsors.png", :alt => "Our Sponsors"
/      .sponsors-table-content
/        = image_tag "etherpros.png", :id => "etherpros-logo", :alt => "Etherpros"
/        = image_tag "heblogo.png", :id => "heb-logo", :alt => "HEB"
/        .clear &nbsp;

