#header

  = image_tag "logo.png", :id => "logo", :alt => "ducktoma"
  - if !user_signed_in?
    = link_to new_user_session_path do      
      = image_tag "login.png", :id => "login", :alt => "Sign In"
  - else
    = link_to "Sign Out", destroy_user_session_path

  = image_tag "plane.png",  :id => "plane", :alt => "Annual Duck Race"