= google_jquery :version => '1.4.4', :uncompressed => Rails.env.development?, :ssl => request.ssl?
= google_swfobject :version => '2.2', :uncompressed => Rails.env.development?, :ssl => request.ssl?
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js'

= javascript_include_tag 'rails'
= javascript_include_tag "jquery.alphanumeric.pack"
= javascript_include_tag :defaults
= javascript_include_tag "clouds"
-# unless Rails.env.development?
  = javascript_include_tag "scrollingbg"

= javascript_include_tag "flashfooter"



= yield :javascripts