%tr
  %td= adoption.adoption_number
  %td= adoption.duck_count
  %td= number_to_currency adoption.dollar_fee
  - if current_user.admin? || current_user.is?(:sales)
    %td= adoption.state
    %td
      = link_to 'Show', adoption_url(adoption.id), :class => "show-adoption"
      - if adoption.type == 'sales'
        |
        = link_to 'Edit', edit_sales_adoption_url(adoption)
        - if current_user.admin?
          |
          = link_to 'Delete', sales_adoption_url(adoption), :method => :delete