.form(style="padding-top: 0px;")
  = render 'shared/title', :text => 'Confirm your order', :number => 2
  %h1 Your adoption number.

  #raffle-number= @adoption.adoption_number

  -#%h1 Duck numbers.
  -#- @adoption.ducks.each do |duck|
    .duck-number
      %div(style="width: 71px; text-align: center;")
        = duck.number

  .break &nbsp;

  #duck-form-total
    Total: #{number_to_currency(@adoption.dollar_fee)}


.center(style="margin:auto; width: 340px;")
  #print.blue-button.left(style="width: 80px; padding-left: 13px;")
    = link_to_function "Print", "javascript:print()", :html_options => { :id => "print" }
  - form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr?" do
    = hidden_field_tag :cmd, "_s-xclick"
    = hidden_field_tag :encrypted, @adoption.paypal_encrypted(edit_adoption_url(@adoption), payment_notifications_url)

    #print.blue-button.left
      = submit_tag "Continue to Checkout"