.title
  = image_tag "adopt.png", :id => "adopt", :alt => "Adopt a Duck Now!"
  %h1 Adopt a Duck Now!

.form
  = render 'shared/title', :text => 'Specify Number of Ducks($50 x Duck)', :number => 1

  = form_for @adoption do |f|
    #duck-form
      #duck-form-image
        = image_tag "duck.gif", :class => "duck-form-image"
      = f.text_field :duck_count
      #duck-count ducks

    #duck-form-total
      Total: $0.00
    .clear &nbsp;
    .adoption-new-button
      = f.submit "Continue", :class => "submit-duck-button blue-button-disabled"

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      pricingScheme.addPricings(#{pricing_json});      
    });
