.title Sponsor a Duck Now
.form
  .header-slim(style="margin-top: 0px;") Specify Number of Ducks
  = simple_form_for @adoption do |f|

    #duck-form.clearfix
      %div(style="margin: auto; width: 480px;")
        #duck-form-image
          = image_tag "duck.gif", :class => "duck-form-image"
        = f.text_field :duck_count, :value => 1
        #duck-count ducks
        #duck-cost-link
          %a How much do ducks cost?

    #duck-count-buttons
      #family-button= image_tag "family.png"
      #flock-button= image_tag "flock.png"
      #oodle-button= image_tag "oodle.png"

    #duck-form-total.clearfix
      Total: $0.00
    #pricing(style="display: none;")
      %table
        %tr
          %th When more than
          %th Price
        - @pricings.each do |pricing|
          %tr
            %td= pluralize(pricing.quantity,"duck")
            %td= number_to_currency dollar_fee(pricing.price)

    .credit-group.input.select.optional.clearfix

      .header-slim Pick a group to get credit for your purchase (optional) :      
      %select#adoption_organization.select.optional{:name => "adoption[club_id]"}
        %option{:value => "", :selected => "selected"} None
        - @organizations.each do |organization|
          %option{:value => "#{organization.id}"}= organization.name

    .adoption-new-button
      = f.submit "Continue", :id => "adoption_submit", :class => "submit-duck-button blue-button-disabled"

- content_for :javascripts do
  = render 'shared/pricingjs'
  = stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/redmond/jquery-ui.css"  
  :javascript
    $(document).ready(function() {
      $('#duck-cost-link').click(function() {
        $("#pricing").dialog({title: 'Duck Pricing'});
      });
      // call update total once to refresh price based on the initial value
      // of the duck_count text field.
      updateTotal($("#adoption_duck_count"));
    })