%table#sales_events
  %tr
    %th Organization
    %th Location
    %th Date
    %th # Adoptions
    %th Actions
  - @sales_events.each do |sales_event|
    %tr
      %td= sales_event.organization.try(:name)
      %td= sales_event.location.try(:name)
      %td.date= sales_event.date
      %td= sales_event.adoptions.count
      %td
        - if @scope && @scope == :admin
          = link_to "Show", admin_sales_event_path(sales_event)
          |
          = link_to "Edit", edit_admin_sales_event_path(sales_event)
        - else
          = link_to "Continue", new_sales_sales_event_adoption_url(sales_event)
          |
          = link_to "Show", sales_sales_event_url(sales_event)
%br/

- content_for :navlinks do
  - if @scope && @scope == :admin
    .navlink= link_to "Admin Dashboard", admin_root_path
  - else
    .navlink= link_to "Sales Dashboard", sales_root_path

