%h1 Editing Organization #{ @organization.name }
= simple_form_for [:admin, @organization] do |f|
  = f.input :name
  = organization_avatar @organization
  %br/
  = f.file_field :avatar
  = f.input :description
  = f.submit "Save"