%h1 All organizations
%table
  %tr
    %th Name
    %th Total Ducks
    %th Total Donations
    %th
  - @organizations.each do |organization|
    %tr
      %td= organization.name
      %td= @organization_values[organization.name][:total_ducks]
      %td= number_to_currency dollar_fee @organization_values[organization.name][:total_donations]
      %td= link_to "Edit", edit_admin_organization_url(organization)

%h3 Add a new organization
= render 'form', :target => Organization.new

- content_for :navlinks do
  .navlink= link_to "Admin Dashboard", admin_root_path