%h1 All organizations
%table
  %tr
    %th Name
    %th Total Ducks
    %th Total Donations
    -#%th
  - @organizations.each do |organization|
    %tr
      %td
        = organization.name
      %td= find_total_ducks_by_organization(organization.name)
      %td= number_to_currency dollar_fee find_total_fee_by_organization(organization.name)
      -#%td= link_to "Edit", edit_admin_organization_url(organization)

%h3 Add a new organization
= render 'form', :target => Organization.new

- content_for :navlinks do
  .navlink= link_to "Admin Dashboard", admin_root_path