%h1 All organizations
%table
  %tr
    %th Name
    %th Total Ducks
    %th Total Donations
    %th

  -# Virtual sales.
  %tr.virtual
    %td Sertoma (Virtual Sales Only)
    %td= @virtual_sales[:total_ducks]
    %td{colspan: 2}= number_to_currency dollar_fee @virtual_sales[:total_donations]    

  - @organizations.each do |organization|
    %tr
      %td= organization.name
      %td= @organization_values[organization.name][:total_ducks]
      %td= number_to_currency dollar_fee @organization_values[organization.name][:total_donations]
      %td
        = link_to "Edit", edit_admin_organization_url(organization)
        |
        = link_to "Delete", admin_organization_url(organization), :method => :delete

%h3 Add a new organization
= render 'form', :target => Organization.new

- content_for :navlinks do
  .navlink= link_to "Admin Dashboard", admin_root_path