%h2 Site Settings

= form_for [:admin, @settings], :url => { :action => :update }, :html => {:method => :put} do |f|
  = render "shared/error_messages", :target => @settings
  = f.label :duck_inventory
  = f.text_field :duck_inventory
  = f.submit "Update Settings"