- compact ||= false
- contributor ||= nil
- if !compact
  - donation_level = contributor ? club_member.donation_level_for(contributor.total) : club_member.donation_level

.club-member{class: contributor ? 'contributor' : ''}
  .profile-image= image_tag club_member.picture_url
  %div{class: compact ? 'profile-details-fluid' : 'profile-details'}
    - if compact
      %h3= club_member.name      
      .organization.nofloat= organization_avatar club_member.organization    
    - else
      .organization= organization_avatar club_member.organization
      %h3.header= club_member.name

    - if !compact
      .donation-progress
        .bar{style:"width: #{donation_level}%;"}
        %span.amount= number_to_currency club_member.total
        %span.description= contributor ? 'Donation Level' : 'Your Donation Level'    