.form-header-slim Top 10 Contributors.

<br /> <br />

- [@club_members * 3].flatten.each do |user|
  .club-member.contributor
    .profile-image= image_tag user.picture_url
    .profile-details
      .organization= image_tag user.organization.avatar.url if user.organization.try(:avatar)
      %h3.header= user.name    
      .donation-progress
        .bar{style:"width: #{user.donation_level_for(@club_members.first.total)}%;"}
        %span.amount= number_to_currency user.total
        %span.description Donation Level

- if @club_members.count == 0
  %h3.center There are no contributors recorded yet! 
  %h3.center Please come back later.