- if @user.is?(:leader)
  = render 'leader_profile'
- else 
  .club-member
    .profile-image= image_tag @user.picture_url
    .profile-details
      .organization= image_tag @user.organization.avatar.url  
      %h3.header= @user.name    
      .donation-progress
        .bar{style:"width: #{@user.donation_level}%;"}
        %span.amount= number_to_currency @user.total
        %span.description Your Donation Level

  %h1.header.grey.raised  Your organization has raised <span class="amount">#{number_to_currency @user.organization.total_paid}</span>

  %h3.donations Want More Donations?
  .share-options
    -if @user.is_facebook?
      = link_to "Facebook Share", share_to_wall_club_member_path(@user), class: "facebook-share", 
                                  "data-uid" => @user.id, "data-name" => @user.name, "data-orgname" => @user.organization.name
      %span.or or
      
    = link_to "Personally adopt a duck", root_url, class: "blue-btn adopt-a-duck"