= simple_form_for [:admin, user] do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :role, :collection => [[:admin, 'Admin'], [:sales, 'Sales']]
  = f.submit 'Submit'