%h1 New User
= simple_form_for [:admin, @user] do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.collection_check_boxes :roles, [[:admin, 'Admin'] ,[:sales, 'Sales']], :first, :last
  = f.submit 'Submit'

%br/
%br/

- content_for :navlinks do
  .navlink= link_to "Back to all users", admin_users_path
  .navlink= link_to "Admin Dashboard", admin_root_path
