%h1 View Sales Event
%h3 Organization: #{@sales_event.organization.try(:name) || "None"}
%h3 Location: #{@sales_event.location.try(:name) || "None"}
%h3 Date: #{@sales_event.date}
%br/
%table
  %tr
    %th
    %th Number
    %th Entry Agent
    %th Donator
    %th Amount Donated
    %th Actions
  - @adoptions.each do |adoption|
    %tr{class: adoption.user == current_user ? 'blue_highlight' : ''}
      %td= check_box_tag :select, adoption.adoption_number, false, :class => 'select', :id => nil
      %td= adoption.adoption_number
      %td= adoption.user.email
      %td= adoption.adopter_info.full_name
      %td= number_to_currency(adoption.dollar_fee)
      %td
        = link_to "Edit", edit_sales_adoption_path(adoption)

%h3 Perform Action:
= form_for @sales_event, :url => move_admin_sales_event_url do |f|
  = hidden_field_tag :adoption_numbers
  = f.submit "Move to new Sales Event" , :id => "move_btn"

-#<button id="move-btn" type="submit">Move to new Sales Event</button>

%br/
- content_for :navlinks do
  .navlink= link_to "Admin Dashboard", admin_root_path

- content_for :javascripts do
  :javascript
    sales_event_id = "#{@sales_event.id}"
    $(document).ready(function() {
      $('#move_btn').click(function() {        
        $('#adoption_numbers').val(getCheckedIDs());
        return true;
      })
    });

    // returns an array with all the IDs of the
    // adoptions that have been checked/selected.
    function getCheckedIDs() {
      ids = []
      $('.select').each(function() {
        if($(this).is(':checked')) {
         ids.push( $(this).val() );
        }
      });
      return ids;
    }
