!!!
%html
  %head
    %title Ducktoma
    = csrf_meta_tag
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag    "application", :media => "screen, projection"
    = stylesheet_link_tag    "print",       :media => "print"
    = javascript_include_tag "application"
    = yield :javascripts

  %body{'data-controller' => controller_name, 'data-action' => action_name}
    /#distance    
    .wrapper
      %canvas(id="example" width="0" height="500" style="position: absolute;")
        #clouds
      #container
        = render 'shared/header'

        #sidebar-left
          &nbsp;

        #main
          .clearfix
            = link_to root_url do
              = image_tag "logo.png", :id => "logo", :alt => "ducktoma"

          %div
            - if notice
              .flash.notice= notice
            - if alert

              .flash.alert= alert
            = yield
            
            #navlinks= yield :navlinks

        #sidebar
          &nbsp;
            
        .clear &nbsp;
      #push.push
    = render 'shared/footer'
    = yield :javascript
    