!!!
%html
  %head
    %title Ducktoma
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = csrf_meta_tag
  %body
    /#distance    
    .wrapper
      #clouds
      #container
        = render 'shared/header'

        #sidebar-left
          /#sponsors-title= image_tag "sponsors.png", :alt => "sponsors"
          -#= image_tag "etherpros.png", :id => "etherpros-logo", :alt => "Etherpros"
          = image_tag "jman.png", :id => "jman-logo", :alt => "Journeyman Construction"
          = image_tag "brath.png", :id => "brath-logo", :alt => "Brath"
          = image_tag "Express_Primary.png", :id => "expressprimary-logo", :alt => "Express Primary"
          = image_tag "wright.png", :id => "wright-logo", :alt => "Wright"
                  
        #main
          = link_to root_url do
            = image_tag "logo.png", :id => "logo", :alt => "ducktoma"
          .clear &nbsp;
          %div(style="margin-top: -10px;")                                    
            - if notice
              .flash.notice= notice
            - if alert
              .flash.alert= alert

            = yield

        #sidebar
          /#sponsors-title= image_tag "sponsors.png", :alt => "sponsors"
          = image_tag "bestbuy.png", :id => "bestbuy-logo", :alt => "HEB"
          = image_tag "heblogo.png", :id => "heb-logo", :alt => "HEB"
          = image_tag "antiwave.png", :id => "antiwave-logo", :alt => "Antiwave"
          = image_tag "saltlick.png", :id => "saltlick-logo", :alt => "Saltlick"
             
        .clear &nbsp;
      .push
    = render 'shared/footer'
    = render 'shared/javascripts'
    