!!!
%html
  %head
    %title Ducktoma
    = render 'shared/head'
  %body
    /#distance    
    .wrapper
      %canvas(id="example" width="0" height="500" style="position: absolute;")
        #clouds
      #container
        = render 'shared/header'

        #sidebar-left
          = link_to 'http://www.usmoneyreserve.com/', :target => "_blank" do
            = image_tag "bullionlogo.png", :id => "bullion-logo", :alt => "Bullion Gold Reserves"

          = link_to 'http://www.heb.com/', :target => "_blank" do
            = image_tag "heblogo.png", :id => "heb-logo", :alt => "HEB"


          = link_to 'http://www.brathinc.com/', :target => "_blank" do
            = image_tag "brath.png", :id => "brath-logo", :alt => "Brath"

          = link_to 'http://www.etherpros.com/', :target => "_blank" do
            = image_tag "etherpros.png", :id => "etherpros-logo", :alt => "Etherpros"

          = link_to 'http://www.nylemaxwell.com/', :target => "_blank" do
            = image_tag "maxwell.png", :id => "maxwell-logo", :alt => "Maxwell"

        #main
          .clearfix
            = link_to root_url do
              = image_tag "logo.png", :id => "logo", :alt => "ducktoma"

          %div
            - if notice
              .flash.notice= notice
            - if alert
              .flash.alert= alert

            = yield
            
            #navlinks
              = yield :navlinks

        #sidebar
          /#sponsors-title= image_tag "sponsors.png", :alt => "sponsors"
          = link_to 'http://www.bestbuy.com/', :target => "_blank" do
            = image_tag "bestbuy.png", :id => "bestbuy-logo", :alt => "HEB"

          = link_to 'http://www.journeymanco.com/', :target => "_blank" do
            = image_tag "jman.png", :id => "jman-logo", :alt => "Journeyman Construction"

          = link_to 'http://www.minorleaguebaseball.com/index.jsp?sid=t102', :target => "_blank" do
            = image_tag "Express_Primary.png", :id => "expressprimary-logo", :alt => "Express Primary"

          = link_to 'http://www.coolrivercafe.com/', :target => "_blank" do
            = image_tag "coolriverlogo.png", :id => "coolriver-logo", :alt => "Cool River Cafe"

          = link_to 'http://mikeparkerrealestate.com/', :target => "_blank" do
            = image_tag "mikeparkerlogo.png", :id => "mikeparker-logo", :alt => "Mike Parker Real Estate"




        .clear &nbsp;
      #push.push
    = render 'shared/footer'
    = render 'shared/javascripts'
    = yield :javascript
    